<div class="p-4 text-4xl">Dashboard</div>

<div class="p-4">
  <div>
    <%= length(@hosts) %> hosts
  </div>

  <div>
    <%= length(@domains) %> domains
  </div>
</div>

<div class="p-4" phx-update="replace">
<%= for job <- @jobs do %>
  <.live_component module={VirtWeb.JobLive.JobComponent} id={"job-#{job.id}"} job={job} />
<% end %>
</div>
